.main-container {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
}

.title {
  margin: 50px 0 32px 0;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.subtitle {
  margin-top: 48px;
  font-size: 24px;
  font-weight: 600;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.first-content {
  margin-top: 19px;
  line-height: 32px;
}

.content {
  margin-top: 42px;
  line-height: 32px;
}

.first-item {
  margin: 42px 0 0 30px;
  line-height: 32px;
}

.item {
  margin: 23px 0 0 30px;
  line-height: 32px;
}

.image-content {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.image {
  width: 720px;
  object-fit: cover;
}

.image-title {
  margin-top: 10px;
  font-size: 14px;
  color: var(--color-grey);
}

@media screen and (max-width: 1080px) {
  .main-container {
    max-width: 500px;
  }

  .image {
    width: 500px;
    object-fit: cover;
  }
  
}

@media screen and (max-width: 425px) {
  .main-container {
    max-width: 400px;
  }

  .image {
    width: 400px;
    object-fit: cover;
  }
  
}